<div class='dijitDialogPaneActionBar' data-dojo-attach-point="actionBarNode">
    <button data-dojo-type='dijit/form/Button' type='submit'
        label="{{gettext 'Apply'}}"
    ></button>
    <button data-dojo-type='dijit/form/Button' type='button'
        data-dojo-attach-event='click:onReset'
        label="{{gettext 'Reset'}}"
    ></button>
</div>
